frotz
dfrotz
sfrotz
frotz-*
*.d
*.o
*.O
*.OBJ
*.BAK
*.SWP
*.swp
*.DSK
*.EXE
*.LIB
*.a
*.tar
*.gz
src/common/version.c
src/common/git_hash.h
src/common/defs.h
src/curses/ux_defines.h
*.z?
src/test/*mem
src/test/*rec
